@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Course Registration Process</h1>
    <p>
        You can register a Student, Instructor or Course here.<br />
        Instructor has to be assigned an existing Course.<br />
        You can also register an existing Student for an existing Course.<br />
        By Clicking the Course name in Courses, You will be get to see all the Students registered for that particular Course.
    </p>
</div>

